<h1>Renew Sinai: Active Construction Projects</h1>
<%= @rooms.each do |room| %>
  <div class="box col-10 offset-1">
    <h2><%= room.department %></h2>
    <%= room.building %><br />
    <%= room.room_num %><br />
    <%= room.description %>
  </div>
<% end %>


